:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background:#ededed ;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar{
  position: sticky !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* border: 1px solid black; */
  /* padding: 10px ; */
  height: 80px;
}
.nav-items >ul{
  display: flex;
  list-style-type: none;

}
.nav-items > ul >li{
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.res-card{
  width: 200px;
  /* height: 100%; */
  margin: 5px;
  padding: 5px;
}

.res-card h4 {
  word-wrap:break-word; /* Break words that are too long */
  white-space: normal !important;
}


.res-card:hover{
  cursor: pointer;
  border: 1px solid black;
}
.search{
  padding: 10px;
}
.search-box{
  background-color: #f0f0f0;
  color: black;
}

.res-logo{
  width: 100%;
  
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}
.filter{
  display: flex;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
   width: 200px;
   height: 400px;
  margin: 20px;
   background-color: #f0f0f0;
}

.login-btn{
  padding:0 20px;
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
